
!config/*.json
# Byte-compiled / optimized / DLL files
# C extensions
# Distribution / packaging
# Django stuff:
# Environments
# Flask stuff:
# IDE
# Installer logs
# Jupyter Notebook
# OS
# Project specific
# PyBuilder
# PyInstaller
# Rope project settings
# SageMath parsed files
# Scrapy stuff:
# Sphinx documentation
# Spyder project settings
# Translations
# Unit test / coverage reports
# celery beat schedule file
# mkdocs documentation
# mypy
# pyenv
*$py.class
*.cover
*.csv
*.egg
*.egg-info/
*.json
*.log
*.manifest
*.mo
*.pot
*.py[cod]
*.sage.py
*.so
*.spec
*.swo
*.swp
.DS_Store
.Python
.cache
.coverage
.coverage.*
.eggs/
.env
.hypothesis/
.idea/
.installed.cfg
.ipynb_checkpoints
.mypy_cache/
.pytest_cache/
.python-version
.ropeproject
.scrapy
.spyderproject
.spyproject
.tox/
.venv
.vscode/
.webassets-cache
/site
ENV/
Thumbs.db
__pycache__/
build/
celerybeat-schedule
coverage.xml
data/
develop-eggs/
dist/
docs/_build/
downloads/
eggs/
env.bak/
env/
htmlcov/
instance/
lib/
lib64/
local_settings.py
logs/
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
sdist/
target/
var/
venv.bak/
venv/
wheels/
